body {
    background-image: url('./background.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120%;
    overflow: hidden;

}
.content{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    border-radius: 10px;
}
.button {
    background-color: black;
    border: none;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
}
.h2 {
    font-size: 30px;
    margin-bottom: 0px;
}
.display {
    width: 300;
    height: 300;
    align-items: center;
    align-self: center;
}